---
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import HeroAbout from '@/components/HeroAbout.astro';
import OurClients from '@/components/OurClients.astro';
---

<Layout title="Nosotros - INNOVO" description="Web de INNOVO Company 2020">
	<main>
		<SectionContainer>
			<HeroAbout />
		</SectionContainer>

        <SectionContainer>
			<OurClients />
		</SectionContainer>
	</main>
</Layout>