---
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import HeroServicios from '@/components/HeroServicios.astro';
import OurServices from '@/components/OurServices.astro';
---

<Layout title="Servicios - INNOVO" description="Web de INNOVO Company 2020">
	<main>
		<SectionContainer>
			<HeroServicios />
		</SectionContainer>
		
        <SectionContainer>
			<OurServices />
		</SectionContainer>
	</main>
</Layout>