---

---

<p class="tracking-wider mt-28 mb-12 text-3xl font-bold text-white sm:text-5xl text-center" style="font-family: Gilroy_EB;">NUESTROS CLIENTES</p>

<div class="font-[sans-serif] text-white py-4 px-4">
    <div class="max-w-7xl mx-auto">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-6 max-md:max-w-lg mx-auto">
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_lecomp.svg" class="w-48 mx-auto" alt="Logo Lecomp International Group">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_adn.svg" class="w-48 mx-auto" alt="Logo ADN Medical">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_arizona.svg" class="w-48 mx-auto" alt="Logo Arizona">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_athlos.svg" class="w-48 mx-auto" alt="Logo Athlos">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_coberturas.svg" class="w-48 mx-auto" alt="Logo Coberturas y Tasas">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_dcarnes.svg" class="w-48 mx-auto" alt="Logo Dcarnes">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_farmamax.png" class="w-48 mx-auto" alt="Logo FarmaMax">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_massivo.svg" class="w-48 mx-auto" alt="Logo Massivo">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_multimax.svg" class="w-48 mx-auto" alt="Logo Multimax Store">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_omega.svg" class="w-48 mx-auto" alt="Logo Omega Capital">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_panamericash.svg" class="w-48 mx-auto" alt="Logo Panamericash">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_prioritymax.svg" class="w-48 mx-auto" alt="Logo PriorityMax">
            </div>
            <div class="rounded-xl group p-4 text-center hover:bg-slate-700 hover:shadow-xl transition duration-300">
                <img src="images/logo_tsg.svg" class="w-48 mx-auto" alt="Logo TSG Servicios">
            </div>
        </div>
    </div>
</div>
