---

---

<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>

<div class="max-w-5xl mx-auto text-white font-[sans-serif] my-4">
    <div class="mt-16">
        <div class="grid md:grid-cols-2 items-center gap-16 px-12">
            <div class="max-md:order-2">
                <h3 class="text-2xl font-extrabold mb-4" style="font-family: Gilroy_EB;">Marketing Digital</h3>
                <p class="text-sm" style="font-family: Gilroy_L;">
                    Crece con nuestras herramientas de Marketing Integradas.<br><br> En <strong>Innovo Company</strong> contamos con un equipo de profesionales multidisciplinarios que pondrá todos sus conocimientos y buenas prácticas para ayudarte a cautivar a tu audiencia.<br><br> Transforma e impulsa tu marca en canales digitales a través de estrategias de marketing y multiplica las oportunidades de tu negocio.
                </p>
            </div>
            <div class="max-md:order-1">
                <img src="https://readymadeui.com/contact.webp" class="w-full object-contain rounded-md shadow-[0_14px_40px_-11px_rgba(93,96,127,0.2)]" />
            </div>
            <div class="max-md:order-3">
                <img src="https://readymadeui.com/image-1.webp" class="w-full object-contain rounded-md shadow-[0_14px_40px_-11px_rgba(93,96,127,0.2)]" />
            </div>
            <div class="max-md:order-4">
                <h3 class="text-2xl font-extrabold mb-4" style="font-family: Gilroy_EB;">Desarrollo Web</h3>
                <p class="text-sm" style="font-family: Gilroy_L;">
                    Creamos Experiencias Digitales Únicas.<br><br> En <strong>Innovo Company</strong> entendemos que un sitio web no es solo una página en internet; es una extensión de tu marca y la base de tu presencia digital. Nos especializamos en crear experiencias web que no solo se ven increíbles, sino que también funcionan a la perfección y están optimizadas para alcanzar tus objetivos de negocio.
                </p>
            </div>
            <div class="max-md:order-6">
                <h3 class="text-2xl font-extrabold mb-4" style="font-family: Gilroy_EB;">Identidad de Marca</h3>
                <p class="text-sm" style="font-family: Gilroy_L;">
                    En <strong>Innovo Company</strong> podemos asesorarte en este proceso. Creamos la identidad de marca para llevarte al próximo nivel. Logra diferenciar a tu marca a través de una representación visual que la distinga de sus competidores en la mente del consumidor.<br><br> El branding es mucho más que un simple logotipo, conviértete en una marca reconocible por tus clientes.
                </p>
            </div>
            <div class="max-md:order-5">
                <img src="https://readymadeui.com/contact.webp" class="w-full object-contain rounded-md shadow-[0_14px_40px_-11px_rgba(93,96,127,0.2)]" />
            </div>
            <div class="max-md:order-7">
                <img src="https://readymadeui.com/image-1.webp" class="w-full object-contain rounded-md shadow-[0_14px_40px_-11px_rgba(93,96,127,0.2)]" />
            </div>
            <div class="max-md:order-8">
                <h3 class="text-2xl font-extrabold mb-4" style="font-family: Gilroy_EB;">Sistema de Pedidos</h3>
                <p class="text-sm" style="font-family: Gilroy_L;">
                    Potencia los procesos comerciales de tu negocio.<br><br> En <strong>Innovo Company</strong> te ayudamos a transformar la manera en que gestionas tus ventas y servicios en cualquier rubro que requiera un sistema de pedidos. Nuestras soluciones personalizadas te ayudarán a mejorar la experiencia del cliente y optimizar tus operaciones.<br><br> Desarrollo de sistemas de pedidos y ventas online para tu negocio.
                </p>
            </div>
        </div>
    </div>
</div>